@font-face {
    font-family: Merriweather;
    src: url('/fonts/Merriweather-Regular.ttf');
}

html {
    font-family: Merriweather;
    font-size: 12pt;
}

@media (max-width: 768px) {
  /* Hides the <li> that contains the 'list' icon + dropdown arrow */
  li.mt-1:has(svg[viewBox="0 0 512 512"]) {
    display: none !important;
  }
}
